{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off"
  }
}